
body {
	margin: 0px;
	background-image: url(/images/top_background_background.png);
	background-size: 100%;
}
#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	width: 1064px;
	background-color: #000000;
	color: white;
}
#banner {
	position: relative;
	display: block;
	width: 1064px;
	height: 602px;
	background-image: url(/images/top_background.png);
}
#logo {
	position: relative;
	width: 100%;
	height: 100%;
	/*margin-top: 100px;*/
	background-image: url(/images/LogoBordered.png);
	background-repeat: no-repeat;
	background-position: center;
}
#nav {
	position: relative;
	margin: auto;
	top: -80px;
}
#nav ul li {
	display: inline-block;
	margin-left: 20px;
	width: 200px;
	height: 75px;
}
a.link {
	display: inline-block;
	height: 75px;
	width: 200px;
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
}

#bandLink {
	background-image: url("/images/TheBandWhite.png");
}
#bandLink:hover {
	background-image: url("/images/TheBandRed.png");
}
#bandLink:active {
	background-image: url("/images/TheBandMix.png");
}

#musicLink {
	background-image: url("/images/TheMusicWhite.png");
}
#musicLink:hover {
	background-image: url("/images/TheMusicRed.png");
}
#musicLink:active {
	background-image: url("/images/TheMusicMix.png");
}

#showsLink {
	background-image: url("/images/TheShowsWhite.png");
}
#showsLink:hover {
	background-image: url("/images/TheShowsRed.png");
}
#showsLink:active {
	background-image: url("/images/TheShowsMix.png");
}

#contactLink {
	background-image: url("/images/ContactUsWhite.png");
}
#contactLink:hover {
	background-image: url("/images/ContactUsRed.png");
}
#contactLink:active {
	background-image: url("/images/ContactUsMix.png");
}

#content {
	padding: 15px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

#footer {
	padding: 15px;
}

div.member {
	display: relative;
	width: 820px;
}

div.member img {
	position: relative;
	float: left;
	height: 200px;
	width: 190x;
}

div.nameAndJob {
	display: block;
	position: relative;
	width: 600px;
	height: 40px;
	left: 35px;
}

span.name {
	font-weight: bold;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

span.instrument {
	display: inline;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

p {
	display: block;
	position: relative;
	width: 800px;
	height: 150px;
	left: 35px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
}

h2 {
	width: 100%;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	font-weight: bold;
}

div.show div {
	font-size: 36px;
}

.showDate, .showTime {
	font-size: 24px;
}
.showName, .showLocation {
	font-size: 20px; {
}
.showName {
	color: red;
	font-weight: bold;
	text-decoration: none;
}
